page-estabelecimento-list {
    .restLogo{
        display: inline-block;
        margin-right: 8px;
        background-color: transparent;
        min-width: 80px;
        min-height: 80px;
    }
    .restTitle{
        font-weight: bold;
    }
    .restDescription{
        
    }
}
