page-estabelecimento-list {

    .statusOpen{
        color: color($colors, success);
    }

    .statusClose{
        color: color($colors, danger);
    }

    .smallRating{
        font-size: 11px;
    }

    .buttonBadge{
        position: relative;
        width: 55px;
        top:1px;
        right: 1px;
        overflow: visible!important;
    }

    .toolbar-ios ion-title{
        //padding: 0 130px 1px 20px;
        padding: 0 20px 1px;
    }
    .toolbar-ios-secondary
    .toolbar-title-ios,
    .toolbar-ios-secondary
    .bar-button-clear-ios,
    .toolbar-ios-secondary
    .bar-button-default-ios{text-align: left;}

    .cartBadge{
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100px;
        padding: 3px 3px;
    }
    
    .iconHeader{
        margin-left: 7px;
    }

    .ion-rating-container grid{
        padding: 5px 5px 5px 0;
    }

    .Card_Item{
        display: flex;
        width: 100%;
        height: auto;
        max-height: 120px;
        padding: 0;
        
        background-color: #FFF;
        box-shadow: 0 1px 5px rgba(0,0,0,0.16);
    }
    
    .Card_Item + .Card_Item{
        margin-top: 20px;
    }
    
    .Card_Item img{
        max-width: 120px;
        max-height: 120px;
        width: 120px;
        height: 120px;
        border: 8px solid transparent;
        display: inline-block;
    }
    
    .Card_Item .Card_Info{
        display: inline-block;
        width: calc(100% - 80px);
        padding: 5px 15px 10px 8px;
        height: 100%;
    }
    
    .Card_Info > div:nth-child(1){
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    .Card_Info > div > span:nth-child(1){
        display: inline-block;
        width: calc(100% - 71px);
        font-size: 16px;
        color: color($colors, secondary-light);
        font-weight: 700;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-transform: uppercase;
    }
    .Card_Info > div > span:nth-child(2) { 
        font-size: 13px;
        text-decoration: none;
        color: #000;
        text-align: right;
        //display: inline-block;
        display: inline-flex;
        width: 30px;
        justify-content: flex-end;
        flex: 1;
        align-items: center;
    }
    
    .Card_Info > div > span:nth-child(2) > span {
        margin-right: 5px;
    } 
    
    .Card_Info > div:nth-child(2){
        display: block;
        display: -webkit-box;
        margin-top: 10px;
        width: 100%;
        text-align: left;
        line-height: 1.4;
        color: rgba(0,0,0,0.67);
        font-size: 12px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 46px;
    }
    
    .Card_Info > div:nth-child(3){
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 5px;
    }
    
    .Card_Info > div:nth-child(3) > div:nth-child(1){
        display: inline-block;
        width: 70%;
        padding-right: 5px;
        text-align: left;
    }
    
    .Card_Info > div:nth-child(3) > div:nth-child(2){
        display: inline-block;
        width: 30%;
        padding-left: 5px;
        text-align: right;
    }
}
