<ion-header>
  <ion-navbar #myContent class="myNavBar" color="secondary">
    <ion-title *ngIf="!showSearch">Food Trucks</ion-title>
    
    <ion-toolbar *ngIf="showSearch" [@fadeInOut] no-border-top>
      <ion-searchbar
        class="mySearchBar"
        [showCancelButton]="true"
        (ionCancel)="onCancel($event)"
        placeholder="Buscar"
        [(ngModel)]="searchTerm"
        (search)="onSearchChanged()"
        (ionClear)="onClearSearch()">
      </ion-searchbar>
    </ion-toolbar>

    <ion-buttons end *ngIf="!showSearch">
      <button class="buttonBadge" (click)="openCart()" ion-button icon-only>
        <i class="fas fa-shopping-cart fa-lg"></i>
        <ion-badge *ngIf="getTotalCarrinho() > 0" class="cartBadge">{{getTotalCarrinho()}}</ion-badge>
      </button>
      <button class="iconHeader" (click)="openFilterMenu()" ion-button icon-only>
        <i class="fas fa-filter fa-lg"></i>
      </button>
      <button (click)="clickSearch()" class="iconHeader" ion-button icon-only>
        <i class="fas fa-search fa-lg"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="List_Body" padding (ionScroll)="onScroll()">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Arraste para atualizar"
      refreshingSpinner="crescent"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list padding-top>

      <div *ngFor="let item of data" class="Card_Item">
        <img src="{{item.image}}" (click)="navigateToMenuPage(item)">
        <div class="Card_Info">
          <div (click)="navigateToMenuPage(item)">
            <span>{{item.name}}</span>
            <span>
              <span>{{item.status == 1 ? "Aberto" : "Fechado"}}</span>
              <i  class="fas fa-handshake fa-lg" [ngStyle]="{ 'color': '#6d6d6d', 'margin-right': '8px' }"></i>
              <i [ngClass]="(item.status == 1)?'statusOpen' : 'statusClose'" class="fas fa-circle"></i>
            </span>
          </div>
          <div (click)="navigateToMenuPage(item)">
            {{item.description}}
          </div>
          <div (click)="navigateToMenuPage(item)">
            <div>
              <ion-rating class="smallRating" [showOnly]="true" [numStars]="5" [rateValue]="item.rate" (ionClick)="logStars($event)"></ion-rating>
            </div>
            <div class="textNote">
              <i class="fas fa-map-marker-alt"></i>
              {{item.distance}}
            </div>
          </div>
        </div>
      </div>
  </ion-list>
</ion-content>
