<ion-header>
  <ion-navbar #myContent class="myNavBar" color="secondary">
    <ion-title *ngIf="!showSearch">Food Trucks</ion-title>
    
    <ion-toolbar *ngIf="showSearch" [@fadeInOut] no-border-top>
      <ion-searchbar
        class="mySearchBar"
        [showCancelButton]="true"
        (ionCancel)="onCancel($event)"
        placeholder="Buscar">
      </ion-searchbar>
    </ion-toolbar>

    <ion-buttons end *ngIf="!showSearch">
      <button class="buttonBadge" (click)="openCart()" ion-button icon-only>
        <ion-icon name="md-cart"></ion-icon>
        <ion-badge class="cartBadge" >10</ion-badge>
      </button>
      <button class="iconHeader" ion-button icon-only>
        <ion-icon name="md-notifications"></ion-icon>
      </button>
      <button class="iconHeader" (click)="openFilterMenu()" ion-button icon-only>
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
      <button (click)="clickSearch()" class="iconHeader" ion-button icon-only>
        <ion-icon name="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="List_Body" padding (ionScroll)="onScroll()">
  <ion-list padding-top>

      <div *ngFor="let item of data" (click)="navigateToMenuPage()" class="Card_Item">
        <img src="{{item.image}}">
        <div class="Card_Info">
          <div>
            <span>{{item.name}}</span>
            <span>
              <span>{{item.status == 1 ? "Aberto" : "Fechado"}}</span>
              <ion-icon [ngClass]="(item.status == 1)?'statusOpen' : 'statusClose'" name="ios-radio-button-on-outline"></ion-icon>
            </span>
          </div>
          <div>
            <!--{{item.description}}-->É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação.
          </div>
          <div>
            <div>
              <ion-rating [showOnly]="true" [numStars]="5" [rateValue]="item.rate" (ionClick)="logStars($event)"></ion-rating>
            </div>
            <div class="textNote">
              <ion-icon name="pin"></ion-icon>
              {{item.distance}}
            </div>
          </div>
        </div>
      </div>
  </ion-list>
</ion-content>
