<ion-header>

  <ion-navbar class="myNavBar" color="secondary">
    <ion-title>Meus Pedidos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="div_Item" *ngFor="let item of checkOutList">
    <accordion [first-title]="item.filial_nome" [second-title]="item.checkout_code" [image-path]="item.filial_logo">
      <div class="item_Head">
        <div>
          <span>{{item.checkout_flag_desc}}</span>
        </div>
        <div class="item_End">
          <span>Feito em: {{item.checkout_date}}</span>
        </div>
      </div>
      <div *ngFor="let subItem of item.itens">
        <div class="item_Info">
          <img src="{{subItem.item_foto}}">
          <div>
            <span>{{subItem.item_nome}}</span>
            <span>R${{subItem.item_valor}}</span>
            <span>x{{subItem.item_qtd}}</span>
          </div>
        </div>
      </div>
      <div class="item_End item_Total">
        R${{item.checkout_valor_bruto}}
      </div>
    </accordion>
  </div>
</ion-content>
