<ion-header>

  <ion-navbar class="myNavBar" color="secondary">
    <ion-title>Meus Pedidos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let item of checkOutList">
    <accordion [first-title]="item.filial_nome" [second-title]="item.checkout_code" [image-path]="item.filial_logo">
      <div *ngFor="let subItem of item.itens">
        <div>
          <img src="{{subItem.item_foto}}" width="30" height="30">
          <div>
            <span>{{subItem.item_nome}}</span>
            <span>{{subItem.item_valor}}</span>
            <span>X{{subItem.item_qtd}}</span>
          </div>
        </div>
      </div>
    </accordion>
  </div>
</ion-content>
