<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>99321385535-udgdreuurnmepttfb5lcq8kr7n7sq88s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99321385535-udgdreuurnmepttfb5lcq8kr7n7sq88s</string>
	<key>API_KEY</key>
	<string>AIzaSyBNRBMIWkwmleNQV0XE6NoLp5IftxVo_yY</string>
	<key>GCM_SENDER_ID</key>
	<string>99321385535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.ImHungryApp</string>
	<key>PROJECT_ID</key>
	<string>imhungryapp-1306c</string>
	<key>STORAGE_BUCKET</key>
	<string>imhungryapp-1306c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99321385535:ios:f244051858c9fa8e</string>
	<key>DATABASE_URL</key>
	<string>https://imhungryapp-1306c.firebaseio.com</string>
</dict>
</plist>