<ion-header>

  <ion-navbar class="myNavBar" color="secondary">
    <ion-title *ngIf="!showSearch">{{pageTitle}}</ion-title>

    <ion-toolbar *ngIf="showSearch" [@fadeInOut] no-border-top>
      <ion-searchbar class="mySearchBar" [showCancelButton]="true" (ionCancel)="onCancel($event)" placeholder="Buscar" (search)="onSearchTermChanged()"
        [(ngModel)]="searchTerm" (ionClear)="onClearSearch()">
      </ion-searchbar>
    </ion-toolbar>

    <ion-buttons end *ngIf="!showSearch">
      <button class="buttonBadge" (click)="openCart()" ion-button icon-only>
        <i class="fas fa-shopping-cart fa-lg"></i>
        <ion-badge *ngIf="getTotalCarrinho() > 0" class="cartBadge">{{getTotalCarrinho()}}</ion-badge>
      </button>
      <button class="iconHeader" (click)="openFilterMenu()" ion-button icon-only>
        <i class="fas fa-filter fa-lg"></i>
      </button>
      <button (click)="clickSearch()" class="iconHeader" ion-button icon-only>
        <i class="fas fa-search fa-lg"></i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="List_Body" padding (ionScroll)="onScroll()">
  <ion-list padding-top>

    <div *ngFor="let item of data" class="Card_Item">
      <img (click)="navegateToDetail(item)" src="{{item.image}}">
      <div class="Card_Info">
        <div>
          <span (click)="navegateToDetail(item)">{{item.name}}</span>
          <span (click)="addToCart(item)">
            <i class="fas fa-shopping-cart iconCart"></i>
          </span>
        </div>
        <div (click)="navegateToDetail(item)">
          <!--{{item.description}}-->É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver
          examinando sua diagramação.
        </div>
        <div>
          <div>
            <ion-rating class="smallRating" [showOnly]="true" [numStars]="5" [rateValue]="item.rate" (ionClick)="logStars($event)"></ion-rating>
          </div>
          <div (click)="navegateToDetail(item)" class="textListPrice smallListPrice">
            R$ {{item.price.toFixed(2)}}
          </div>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>