page-pagamento {
    /*div.swiper-pagination {
        top: 20px;
        bottom: inherit; 
    }*/

    .payDiv{
        width: 100%;
        bottom: 0;
        position: fixed;
        padding: 0 60px 20px 60px;
        margin: auto;
    }

    .divHalf{
        display: flex;
        align-items: center;
    }

    .iconHeader{
        margin-right: 7px;
    }

    .cardDivHeader{
        display: flex;
        justify-content: space-between;
    }

    .groupDigits{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: color($colors, primary-light);
    }

    .groupDigits > svg {
        font-size: 10px;
        margin: 0 2px 0 2px;
    }

    .groupDigits > span {
        font-size: 16px;
    }

    .cardDivMid{
        display: flex;
        justify-content: space-evenly;
        font-family: consolas, monospace, sans-serif;
        margin-top: 15px;
    }

    .cardDivFooter{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .cardDivFooter > div > span{
        display: block;
        font-size: 12px;
        color: color($colors, primary-light);
    }

    .cardDivFooter > div > div {
        margin-left: 10px;
        font-family: consolas, monospace, sans-serif;
        font-size: 20px;
        color: color($colors, primary-light);
    }

    .cardIconHeader{
        color: color($colors, secondary-light);
    }

    .swiper-pagination-bullet-active{
        background: color($colors, secondary-light);
    }

    .bodyHeader{
        height: 220px;
        background: color($colors, primary);
    }

    .bodyContent{
        height: calc(100% - 220px);
    }

    .sliderCard{
        height: 150px;
        margin: 20px 30px 30px 30px;
        width: 300px;//calc(100% - 60px);
        border-radius: 10px;
        display: inline-block;
    }

    .myPaymentNavBar{
        height: 56px;
    }

    .slide-zoom{
        height: 100%;
        width: 100%;
    }

    .inputCard{
        border-color: color($colors, primary-light);
        padding: 0 20px;
    }

    .divPayProgress{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .divPayProgress > span{
        //display: block;
        margin-left: 15px;
        font-size: 25px;
    }

    .divPayDone{
        height: 100%;
        align-items: center;
        padding-top: 50%;
        justify-content: center;
        background-color: color($colors, success);
        color: color($colors, light);
        
    }

    .divPayDone > div {
        margin-bottom: 10px;
        display: block;
    }

    .divPayDone > div > span{
        margin-bottom: 10px;
        font-size: 27px;
    }

    .divPayError{
        height: 100%;
        align-items: center;
        padding-top: 50%;
        justify-content: center;
        background-color: color($colors, danger);
        color: color($colors, light);
    }

    .divPayError > div{
        margin-bottom: 10px;
        display: block;
    }

    .divPayError > div > span{
        margin-bottom: 10px;
        font-size: 27px;
    }
}
