page-menu-detail {
    
    .menuViewDiv{
        display: flex;
        align-items: center;
        padding: 0 10px 0 10px;
    }

    .cardTextDescription{
        color: color($colors, primary-light);
    }

    .menuViewStar{
        width: 60%;
    }

    .menuViewPrice{
        width: 40%;
        text-align: right;
    }

    .buttonBadge{
        position: relative;
        width: 55px;
        top:1px;
        right: 1px;
        overflow: visible!important;
    }

    .cartBadge{
        position: absolute;
        top: -3px;
        right: 5px;
        border-radius: 100px;
        padding: 3px 3px;
    }
}
