<!--
  Generated template for the CartaoFidelidadePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-navbar #myContent class="myNavBar" color="secondary">
      <ion-title *ngIf="!showSearch">Cartão Virtual</ion-title>
      
      <ion-toolbar *ngIf="showSearch" [@fadeInOut] no-border-top>
        <ion-searchbar
          class="mySearchBar"
          [showCancelButton]="true"
          (ionCancel)="onCancel($event)"
          placeholder="Buscar"
          [(ngModel)]="searchTerm"
          (search)="onSearchChanged()"
          (ionClear)="onClearSearch()">
        </ion-searchbar>
      </ion-toolbar>
  
      <ion-buttons end *ngIf="!showSearch">              
        <button class="iconHeader" (click)="openFilterMenu()" ion-button icon-only>
          <i class="fas fa-filter fa-lg"></i>
        </button>
        <button (click)="clickSearch()" class="iconHeader" ion-button icon-only>
          <i class="fas fa-search fa-lg"></i>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-navbar>

</ion-header>

<ion-content class="cartaoFidelidade-content" padding color="secondary">
  <ion-row class="logo-row">
    <ion-col></ion-col>

    <ion-col></ion-col>
  </ion-row>
  <div >
      <form >
 
  <ion-row>
      <ion-col>
       
            <ion-item>
                <ion-label stacked>Quantidade de pedidos:</ion-label>              
                <ion-input></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label stacked>Beneficios do cartao:</ion-label>
                  <ion-input></ion-input>
              </ion-item>
              
          <!-- <ion-item>
            <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
          </ion-item> -->

       
      </ion-col>
    </ion-row>
    </form>
  </div>
  <div class="ButtonBack-box">
    <form (ngSubmit)="pushBack()" #registerForm="ngForm">
      <ion-row>
        <ion-col class="backButton">
          <button ion-button class="ok-btn" full type="submit" [disabled]="!registerForm.form.valid">Voltar</button>          
        </ion-col>
        <ion-col class="backButton">
        <button ion-button round class="help-btn">?</button>
      </ion-col>
      </ion-row>

    </form>
  </div>
<ion-content padding>

</ion-content>
