page-cartao-fidelidade {
    .cartaoFidelidade-content {
        background: #ffffff;
     
        .logo-row {
          padding-top: 50px;
          padding-bottom: 20px;
        }
     
        .ButtonBack-box {
          background: #f4511e;
          //padding: 20px 20px 0px 20px;
          //margin-top: 230px;
        }
     
        .Label-box {
          background: #f4511e;
          //padding: 20px 20px 0px 20px;
          //margin-top: 230px;
        }

        ion-row {
           align-items: center;
           text-align: center;
         }
     
         ion-item {
             border-radius: 30px !important;
             padding-left: 30px !important;
             font-size: 0.9em;
             margin-bottom: 10px;
             border: 1px solid #ffffff;
             border-bottom: 0px !important;
             box-shadow: none !important;
         }
     
         .backButton {
           margin: 0px 0px 0px 0px;
           padding-bottom: 1px;
         }
     
         .item-inner {
           border-bottom-color: #ffffff !important;
           box-shadow: none !important;
         }
     
         .ok-btn {
           background: #f4511e;
           border-radius: 10px !important;
           border: 1px solid #ffffff
           ;
         }

         .help-btn {
          background: #f4511e;
          border-radius: 90px !important;
          border: 0px solid #ffffff;
        }
     
         .register-btn {
           color: #ffffff;
           font-size: 0.8em;
         }

         .Card_Item{
          display: flex;
          width: 100%;
          height: auto;
          max-height: 120px;
          padding: 0;
          
          background-color: #FFF;
          box-shadow: 0 1px 5px rgba(0,0,0,0.16);
      }
      
      }     
}
